<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-push-3 text-center">
			<div class="page-header">
				<h1>Wikipedia Viewer</h1>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-push-4">
	<button class="btn btn-primary pull-right" (click)="getRandomArticle()">Random</button>
	<br /><br /><br />
		<form role="form">
			<input type="text" placeholder="Enter search term" [(ngModel)]="searchTerm"  />
			<button class="btn btn-block btn-submit" (click)="getArticle()"><span class="glyphicon glyphicon-search"></span> Search</button>
		</form>
	</div>
	</div>
	<div class="row">	
		<div class="col-md-6 col-md-push-3 text-center" *ngIf="title !== ''">
			<h2>{{title}}</h2>
			<div [innerHTML]="body | sanitizeHtml"></div>
		</div>	
	</div>
</div>